name: OP Script

on:
  schedule:
    # Thursday 15:00–23:00 UTC (Friday 00:00–08:00 JST)
    - cron: '0 15-23 * * 4'
    # Full Friday UTC (Friday 09:00 JST → Saturday 08:00 JST)
    - cron: '0 * * * 5'
    # Saturday 00:00–14:00 UTC (Saturday 09:00–23:00 JST)
    - cron: '0 0-14 * * 6'

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Echo Environment Variables
        run: |
            echo "NEXT_PUBLIC_SUPABASE_URL: $NEXT_PUBLIC_SUPABASE_URL"
            echo "NEXT_PUBLIC_SUPABASE_ANON_KEY: $NEXT_PUBLIC_SUPABASE_ANON_KEY"
            echo "DISCORD_BOT_TOKEN: $DISCORD_BOT_TOKEN"
            echo "WEBHOOK_URL: $WEBHOOK_URL"
            echo "CHANNEL_ID: $CHANNEL_ID"
            echo "SLACK_OAUTH_TOKEN: $SLACK_OAUTH_TOKEN"
            echo "SLACK_CHANNEL_ID: $SLACK_CHANNEL_ID"

      - name: Run script
        env:
            NEXT_PUBLIC_SUPABASE_URL: ${{ secrets.NEXT_PUBLIC_SUPABASE_URL }}  
            NEXT_PUBLIC_SUPABASE_ANON_KEY: ${{ secrets.NEXT_PUBLIC_SUPABASE_ANON_KEY }}  
            DISCORD_BOT_TOKEN: ${{ secrets.DISCORD_BOT_TOKEN }}
            WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
            CHANNEL_ID: ${{ secrets.CHANNEL_ID }} 
            SLACK_OAUTH_TOKEN: ${{ secrets.SLACK_OAUTH_TOKEN }} 
            SLACK_CHANNEL_ID: ${{ secrets.SLACK_CHANNEL_ID }} 
        run: node discord_bot.mjs
